[submodule "libs"]
	path = libs
	url = git@bitbucket.org:iridl/java_libs.git
[submodule "olfs"]
	path = olfs
	url = git@bitbucket.org:iridl/olfs.git
[submodule "miconf"]
	path = miconf
	url = git@bitbucket.org:iridl/miconf.git
